<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src='jquery.min.js'></script>
    <script src='/js/skrypt.js'></script>
  </head>
  <body>
    <p>Welcome to <%= title %></p>
    <p>
    
      <div id="startSection">
        <input id="size" type="text"></input>
        <input id="dim" type="text"></input>
        <input id="max" type="text"></input>
        <button id="startButton">START</button>
        <div id="success"></div>
      </div>

      <div id="poleGry">

      </div>

      <div id="historia">

      </div>

    </p>
  </body>
</html>
